body {
    font-family: Arial, sans-serif;
    /*background-color: #d1c6f5;*/
    background: linear-gradient(to right, #ffb689, #ffe3cf);
    margin: 0;
    color: #1f086c;
}

body > :not(header, footer) {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: #1f086c;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    /*padding: 16px;*/
}

.logo {
    width: 225px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 16px;
}

nav li a {
    text-decoration: none;
    color: rgb(255,99,71);
    padding: 1px 8px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

nav li a:hover {
    background-color: rgb(255,99,71);
    color: #1f086c;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

nav li a.active {
    background-color: #baa414;
    color: #baa414;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 25px;
    background-color: #684dc2;
    min-width: 160px;
    margin: 1px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgb(255,192,74);
    border-left: 2px solid rgb(255,192,74);
    border-right: 2px solid rgb(255,192,74);
    border-bottom: 1px solid rgb(255,192,74);
}

.dropdown-content a {
    display: block;
    padding: 8px;
    border-bottom: 1px solid rgb(255,192,74);
    text-align: center;
    font-size: 17px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#warning {
    position: absolute;
    left: 50%;
    top: 125px;
    transform: translate(-50%, -50%);
    color: red;
}

#login-form {
    /*max-width: 400px;
    margin: 0 auto;*/
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #d1c6f5;
    border: 1px solid #1f086c
}

#login-form p {
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #1f086c;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#login-form input[type="submit"] {
    background: rgb(255,99,71);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition-duration: 0.4s;
}

#login-form input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #1f086c, #3d2294);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255,99,71);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


.quote-container {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-align: center;
    animation: quote-animation 30s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-button {
    background-color: red;
    color: #fff;
    padding: 1px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes quote-animation {
    0%, 20% {
        opacity: 1;
    }
    25%, 95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

table {
    border-collapse: collapse;
    margin-left: 40px;
}

th, td {
    border: 1px solid #1f086c;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #8f76e0;
}

td {
    position: relative;
    /*background-color: #d1c6f5;*/
    /*background-color: #f2f2f2;*/
    background-color: white;
}

.empty-cell {
    border: none;
    background-color: inherit;
}

.delete-button {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

td img {
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-right: 55px;
}
